.todo {
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    position: relative;
  }
  .todo-inputs {
    border: none;
    outline: none;
  }
  
  .todo-inputs-div {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  #textarea {
    display: none;
  }
  .todo-card {
    border: 1px solid black;
  }
  .todo-card-p {
    text-align: justify;
    text-justify: inter-word;
  }
  